In [1]:
#1. import library
import pandas as pd
import numpy as np

In [2]:
#2. import data #baca data
df = pd.read_csv('dataset/train dataset.csv')
df.head() #head untuk 5 baris teratas

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,bookingID
0,"Crystal Cove, Barbados Barbados",0,8,2019,January,2,10,0,4,2,...,314.0,NaN,0,Transient,38.40,0,0,Check-Out,2019-01-14,1
1,"Greensboro Courtyard Greensboro, NC",1,524,2018,December,51,15,0,2,2,...,1.0,NaN,0,Transient,62.80,0,0,Canceled,2017-10-21,2
2,"The Westin Peachtree Plaza, Atlanta Atlanta, GA",1,175,2019,May,20,19,1,2,2,...,12.0,NaN,0,Transient,110.00,0,0,Canceled,2018-11-25,3
3,Courtyard by Marriott Aberdeen Airport Aberdee...,0,0,2018,October,43,17,1,0,1,...,NaN,200.0,0,Transient,45.00,0,0,Check-Out,2018-10-18,4
4,"W New York – Union Square New York, NY",1,33,2017,September,39,26,2,3,2,...,16.0,NaN,0,Transient,57.92,0,1,Canceled,2017-08-24,5

In [3]:
#3. Inspect data
#memunculkan kolom
df.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type', 'agent',
       'company', 'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date', 'bookingID'],
      dtype='object')

In [4]:
#3.inspect data
#memberikan informasi jenis tipe kolom
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83293 entries, 0 to 83292
Data columns (total 33 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   hotel                           83293 non-null  object
 1   is_canceled                     83293 non-null  int64
 2   lead_time                       83293 non-null  int64
 3   arrival_date_year               83293 non-null  int64
 4   arrival_date_month              83293 non-null  object
 5   arrival_date_week_number        83293 non-null  int64
 6   arrival_date_day_of_month       83293 non-null  int64
 7   stays_in_weekend_nights         83293 non-null  int64
 8   stays_in_week_nights            83293 non-null  int64
 9   adults                          83293 non-null  int64
 10  children                        83290 non-null  float64
 11  babies                          83293 non-null  int64
 12  meal                            83293 non-null  object
 13  country                         82947 non-null  object
 14  market_segment                  83293 non-null  object
 15  distribution_channel            83293 non-null  object
 16  is_repeated_guest               83293 non-null  int64
 17  previous_cancellations          83293 non-null  int64
 18  previous_bookings_not_canceled  83293 non-null  int64
 19  reserved_room_type              83293 non-null  object
 20  assigned_room_type              83293 non-null  object
 21  booking_changes                 83293 non-null  int64
 22  deposit_type                    83293 non-null  object
 23  agent                           71889 non-null  float64
 24  company                         4734 non-null   float64
 25  days_in_waiting_list            83293 non-null  int64
 26  customer_type                   83293 non-null  object
 27  adr                             83293 non-null  float64
 28  required_car_parking_spaces     83293 non-null  int64
 29  total_of_special_requests       83293 non-null  int64
 30  reservation_status              83293 non-null  object
 31  reservation_status_date         83293 non-null  object
 32  bookingID                       83293 non-null  int64
dtypes: float64(4), int64(17), object(12)
memory usage: 21.0+ MB

In [5]:
#3.inspect data
#mendeteksi kolom duplikasi data (tidak ada data yang ganda)
df.duplicated().sum()

np.int64(0)

In [6]:
#3.inspect data
#menghapus kolom duplikat
df.drop_duplicates().head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,bookingID
0,"Crystal Cove, Barbados Barbados",0,8,2019,January,2,10,0,4,2,...,314.0,NaN,0,Transient,38.40,0,0,Check-Out,2019-01-14,1
1,"Greensboro Courtyard Greensboro, NC",1,524,2018,December,51,15,0,2,2,...,1.0,NaN,0,Transient,62.80,0,0,Canceled,2017-10-21,2
2,"The Westin Peachtree Plaza, Atlanta Atlanta, GA",1,175,2019,May,20,19,1,2,2,...,12.0,NaN,0,Transient,110.00,0,0,Canceled,2018-11-25,3
3,Courtyard by Marriott Aberdeen Airport Aberdee...,0,0,2018,October,43,17,1,0,1,...,NaN,200.0,0,Transient,45.00,0,0,Check-Out,2018-10-18,4
4,"W New York – Union Square New York, NY",1,33,2017,September,39,26,2,3,2,...,16.0,NaN,0,Transient,57.92,0,1,Canceled,2017-08-24,5

In [7]:
#3. Inspect data
#Mengelompokan setiap kolom berdasarkan tipenya
#memisahkan data numerik dan kategorik
numerik = df.select_dtypes(include=['number']).columns.tolist()
kategorik = df.select_dtypes(exclude=['number']).columns.tolist()

df[numerik].head()

,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,...,previous_cancellations,previous_bookings_not_canceled,booking_changes,agent,company,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests,bookingID
0,0,8,2019,2,10,0,4,2,0.0,0,...,0,0,0,314.0,NaN,0,38.40,0,0,1
1,1,524,2018,51,15,0,2,2,0.0,0,...,0,0,0,1.0,NaN,0,62.80,0,0,2
2,1,175,2019,20,19,1,2,2,0.0,0,...,0,0,0,12.0,NaN,0,110.00,0,0,3
3,0,0,2018,43,17,1,0,1,0.0,0,...,0,0,0,NaN,200.0,0,45.00,0,0,4
4,1,33,2017,39,26,2,3,2,0.0,0,...,0,0,0,16.0,NaN,0,57.92,0,1,5

In [8]:
#3. Inspect data
#deskripsikan data numerik (count, mean, std, min, dll)
df.describe()

,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,...,previous_cancellations,previous_bookings_not_canceled,booking_changes,agent,company,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests,bookingID
count,83293.000000,83293.000000,83293.000000,83293.000000,83293.000000,83293.000000,83293.000000,83293.000000,83290.000000,83293.000000,...,83293.000000,83293.000000,83293.000000,71889.000000,4734.000000,83293.000000,83293.000000,83293.000000,83293.000000,83293.000000
mean,0.369503,103.914230,2018.156808,27.164023,15.786116,0.930390,2.503812,1.854466,0.103614,0.008032,...,0.086994,0.141765,0.223068,86.867282,190.003802,2.352238,101.724373,0.061818,0.571945,41647.000000
std,0.482673,106.874124,0.706656,13.623752,8.775931,1.004196,1.924511,0.606139,0.398821,0.100641,...,0.862988,1.554390,0.656237,110.875605,131.969152,17.820652,48.082552,0.245027,0.793742,24044.762323
min,0.000000,0.000000,2017.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,1.000000,6.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,0.000000,18.000000,2018.000000,16.000000,8.000000,0.000000,1.000000,2.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,9.000000,62.000000,0.000000,69.530000,0.000000,0.000000,20824.000000
50%,0.000000,69.000000,2018.000000,27.000000,16.000000,1.000000,2.000000,2.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,14.000000,183.000000,0.000000,94.500000,0.000000,0.000000,41647.000000
75%,1.000000,160.000000,2019.000000,38.000000,23.000000,2.000000,3.000000,2.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,229.000000,270.000000,0.000000,126.000000,0.000000,1.000000,62470.000000
max,1.000000,737.000000,2019.000000,53.000000,31.000000,19.000000,50.000000,55.000000,10.000000,10.000000,...,26.000000,70.000000,21.000000,535.000000,543.000000,391.000000,508.000000,8.000000,5.000000,83293.000000

In [9]:
#3. Inspect data
#deskripsikan data kategori
df.describe(include='object')

,hotel,arrival_date_month,meal,country,market_segment,distribution_channel,reserved_room_type,assigned_room_type,deposit_type,customer_type,reservation_status,reservation_status_date
count,83293,83293,83293,82947,83293,83293,83293,83293,83293,83293,83293,83293
unique,64,12,5,165,8,5,10,11,3,4,3,914
top,Renaissance New York Times Square Hotel New Yo...,August,BB,PRT,Online TA,TA/TO,A,A,No Deposit,Transient,Check-Out,2017-10-21
freq,1373,9643,64424,33952,39445,68368,60062,51702,72979,62535,52516,1024

In [10]:
#4.Missing value
#melihat missing value
df.isna().sum()

hotel                                 0
is_canceled                           0
lead_time                             0
arrival_date_year                     0
arrival_date_month                    0
arrival_date_week_number              0
arrival_date_day_of_month             0
stays_in_weekend_nights               0
stays_in_week_nights                  0
adults                                0
children                              3
babies                                0
meal                                  0
country                             346
market_segment                        0
distribution_channel                  0
is_repeated_guest                     0
previous_cancellations                0
previous_bookings_not_canceled        0
reserved_room_type                    0
assigned_room_type                    0
booking_changes                       0
deposit_type                          0
agent                             11404
company                           78559
days_in_waiting_list                  0
customer_type                         0
adr                                   0
required_car_parking_spaces           0
total_of_special_requests             0
reservation_status                    0
reservation_status_date               0
bookingID                             0
dtype: int64

In [11]:
#4.Missing value
#menghapus missing value
#jalankan jika ada missing value, jika tidak, tidak lanjut ke tahap berikutnya
df["company"]  = df["company"].fillna(0)
df["agent"]    = df["agent"].fillna(0)
df["country"]  = df["country"].fillna("Unknown")
df["children"] = df["children"].fillna(0)

In [12]:
#5. mengkonfersi type data (order date, time order, dan time order picked)
#konversi kolom tanggal
df["reservation_status_date"] = pd.to_datetime(df["reservation_status_date"], errors="coerce")

df["arrival_date"] = pd.to_datetime(
    df["arrival_date_year"].astype(str) + "-" +
    df["arrival_date_month"].astype(str) + "-" +
    df["arrival_date_day_of_month"].astype(str),
    errors="coerce"
)

df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,bookingID,arrival_date
0,"Crystal Cove, Barbados Barbados",0,8,2019,January,2,10,0,4,2,...,0.0,0,Transient,38.40,0,0,Check-Out,2019-01-14,1,2019-01-10
1,"Greensboro Courtyard Greensboro, NC",1,524,2018,December,51,15,0,2,2,...,0.0,0,Transient,62.80,0,0,Canceled,2017-10-21,2,2018-12-15
2,"The Westin Peachtree Plaza, Atlanta Atlanta, GA",1,175,2019,May,20,19,1,2,2,...,0.0,0,Transient,110.00,0,0,Canceled,2018-11-25,3,2019-05-19
3,Courtyard by Marriott Aberdeen Airport Aberdee...,0,0,2018,October,43,17,1,0,1,...,200.0,0,Transient,45.00,0,0,Check-Out,2018-10-18,4,2018-10-17
4,"W New York – Union Square New York, NY",1,33,2017,September,39,26,2,3,2,...,0.0,0,Transient,57.92,0,1,Canceled,2017-08-24,5,2017-09-26

In [13]:
#5. Drop kolom yang tidak digunakan pada EDA
df = df.drop(columns=[
    'bookingID',
    'reservation_status',
    'reservation_status_date',
    'arrival_date_year',
    'arrival_date_day_of_month'
])

In [14]:
#Mengelompokan setiap kolom berdasarkan tipenya
#memisahkan data numerik dan kategorik
numerik = df.select_dtypes(include=['number']).columns.tolist()
kategorik = df.select_dtypes(exclude=['number']).columns.tolist()

df[numerik].head()

,is_canceled,lead_time,arrival_date_week_number,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,booking_changes,agent,company,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests
0,0,8,2,0,4,2,0.0,0,0,0,0,0,314.0,0.0,0,38.40,0,0
1,1,524,51,0,2,2,0.0,0,0,0,0,0,1.0,0.0,0,62.80,0,0
2,1,175,20,1,2,2,0.0,0,0,0,0,0,12.0,0.0,0,110.00,0,0
3,0,0,43,1,0,1,0.0,0,0,0,0,0,0.0,200.0,0,45.00,0,0
4,1,33,39,2,3,2,0.0,0,0,0,0,0,16.0,0.0,0,57.92,0,1

In [15]:
#6. Feature Engineering (buat kolom baru)
df["total_nights"] = df["stays_in_weekend_nights"] + df["stays_in_week_nights"]
df["total_guests"] = df["adults"] + df["children"] + df["babies"]
df["has_special_requests"] = (df["total_of_special_requests"] > 0).astype(int)

df.head()

,hotel,is_canceled,lead_time,arrival_date_month,arrival_date_week_number,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,...,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,arrival_date,total_nights,total_guests,has_special_requests
0,"Crystal Cove, Barbados Barbados",0,8,January,2,0,4,2,0.0,0,...,0.0,0,Transient,38.40,0,0,2019-01-10,4,2.0,0
1,"Greensboro Courtyard Greensboro, NC",1,524,December,51,0,2,2,0.0,0,...,0.0,0,Transient,62.80,0,0,2018-12-15,2,2.0,0
2,"The Westin Peachtree Plaza, Atlanta Atlanta, GA",1,175,May,20,1,2,2,0.0,0,...,0.0,0,Transient,110.00,0,0,2019-05-19,3,2.0,0
3,Courtyard by Marriott Aberdeen Airport Aberdee...,0,0,October,43,1,0,1,0.0,0,...,200.0,0,Transient,45.00,0,0,2018-10-17,1,1.0,0
4,"W New York – Union Square New York, NY",1,33,September,39,2,3,2,0.0,0,...,0.0,0,Transient,57.92,0,1,2017-09-26,5,2.0,1

In [17]:
#6. Deteksi outlier dengan IQR
# Hitung Q1, Q3, dan IQR untuk kolom numerik
# Tentukan kolom numerik yang mau dicek outlier
outlier_cols = ["lead_time", "adr", "total_nights"]

Q1 = df[outlier_cols].quantile(0.25)
Q3 = df[outlier_cols].quantile(0.75)
IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

df_outlier = df[
    ((df[outlier_cols] < lower_bound) | (df[outlier_cols] > upper_bound)).any(axis=1)
]

print("Outlier:", df_outlier.shape[0])

Outlier: 8230

In [19]:
#6. Outlier
#Hapus baris yang memiliki outlier di kolom numerik
df = df[
    ~((df[outlier_cols] < lower_bound) | (df[outlier_cols] > upper_bound)).any(axis=1)
]

print("Total data", df.shape[0])

Total data 75063

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 75063 entries, 0 to 83292
Data columns (total 32 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   hotel                           75063 non-null  object
 1   is_canceled                     75063 non-null  int64
 2   lead_time                       75063 non-null  int64
 3   arrival_date_month              75063 non-null  object
 4   arrival_date_week_number        75063 non-null  int64
 5   stays_in_weekend_nights         75063 non-null  int64
 6   stays_in_week_nights            75063 non-null  int64
 7   adults                          75063 non-null  int64
 8   children                        75063 non-null  float64
 9   babies                          75063 non-null  int64
 10  meal                            75063 non-null  object
 11  country                         75063 non-null  object
 12  market_segment                  75063 non-null  object
 13  distribution_channel            75063 non-null  object
 14  is_repeated_guest               75063 non-null  int64
 15  previous_cancellations          75063 non-null  int64
 16  previous_bookings_not_canceled  75063 non-null  int64
 17  reserved_room_type              75063 non-null  object
 18  assigned_room_type              75063 non-null  object
 19  booking_changes                 75063 non-null  int64
 20  deposit_type                    75063 non-null  object
 21  agent                           75063 non-null  float64
 22  company                         75063 non-null  float64
 23  days_in_waiting_list            75063 non-null  int64
 24  customer_type                   75063 non-null  object
 25  adr                             75063 non-null  float64
 26  required_car_parking_spaces     75063 non-null  int64
 27  total_of_special_requests       75063 non-null  int64
 28  arrival_date                    75000 non-null  datetime64[ns]
 29  total_nights                    75063 non-null  int64
 30  total_guests                    75063 non-null  float64
 31  has_special_requests            75063 non-null  int64
dtypes: datetime64[ns](1), float64(5), int64(16), object(10)
memory usage: 18.9+ MB

In [21]:
df.to_csv('C:/download/data_interview.csv', index=False)