## Data Preprocessing

In [32]:
#1. import library
import pandas as pd
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder
import matplotlib.pyplot as plt
import seaborn as sns

In [33]:
df1 = pd.read_csv('dataset/Customer-Details.csv')
df1.head()

,Customer_ID,Name,Email,Phone,Address,City,State,Zipcode,Country,Age,Gender,Income,Customer_Segment
0,37249.0,Michelle Harrington,Ebony39@gmail.com,1.414787e+09,3959 Amanda Burgs,Dortmund,Berlin,77985.0,Germany,21.0,Male,Low,Regular
1,69749.0,Kelsey Hill,Mark36@gmail.com,6.852900e+09,82072 Dawn Centers,Nottingham,England,99071.0,UK,19.0,Female,Low,Premium
2,30192.0,Scott Jensen,Shane85@gmail.com,8.362160e+09,4133 Young Canyon,Geelong,New South Wales,75929.0,Australia,48.0,Male,Low,Regular
3,62101.0,Joseph Miller,Mary34@gmail.com,2.776752e+09,8148 Thomas Creek Suite 100,Edmonton,Ontario,88420.0,Canada,56.0,Male,High,Premium
4,27901.0,Debra Coleman,Charles30@gmail.com,9.098268e+09,5813 Lori Ports Suite 269,Bristol,England,48704.0,UK,22.0,Male,Low,Premium

In [34]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 302010 entries, 0 to 302009
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Customer_ID       301702 non-null  float64
 1   Name              301628 non-null  object
 2   Email             301663 non-null  object
 3   Phone             301648 non-null  float64
 4   Address           301695 non-null  object
 5   City              301762 non-null  object
 6   State             301729 non-null  object
 7   Zipcode           301670 non-null  float64
 8   Country           301739 non-null  object
 9   Age               301837 non-null  float64
 10  Gender            301693 non-null  object
 11  Income            301720 non-null  object
 12  Customer_Segment  301795 non-null  object
dtypes: float64(4), object(9)
memory usage: 30.0+ MB

In [35]:
df2 = pd.read_csv('dataset/Order-Details.csv')
df2.head()

,Transaction_ID,Customer_ID,Date,Total_Purchases,Amount,Product_Id,Feedback,Shipping_Method,Payment_Method,Order_Status,Ratings
0,8691788.0,37249.0,2023-09-18,3.0,108.028757,1087,Excellent,Same-Day,Debit Card,Shipped,5.0
1,2174773.0,69749.0,2023-12-31,2.0,403.353907,1165,Excellent,Standard,Credit Card,Processing,4.0
2,6679610.0,30192.0,2023-04-26,3.0,354.477600,1271,Average,Same-Day,Credit Card,Processing,2.0
3,7232460.0,62101.0,2023-05-08,7.0,352.407717,1304,Excellent,Standard,PayPal,Processing,4.0
4,4983775.0,27901.0,2024-01-10,2.0,124.276524,1059,Bad,Standard,Cash,Shipped,1.0

In [36]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 302010 entries, 0 to 302009
Data columns (total 11 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Transaction_ID   301677 non-null  float64
 1   Customer_ID      301702 non-null  float64
 2   Date             301651 non-null  object
 3   Total_Purchases  301649 non-null  float64
 4   Amount           301653 non-null  float64
 5   Product_Id       302010 non-null  int64
 6   Feedback         301826 non-null  object
 7   Shipping_Method  301673 non-null  object
 8   Payment_Method   301713 non-null  object
 9   Order_Status     301775 non-null  object
 10  Ratings          301826 non-null  float64
dtypes: float64(5), int64(1), object(5)
memory usage: 25.3+ MB

In [37]:
df3 = pd.read_csv('dataset/Product-Details.csv')
df3.head()

   Product_Id Product_Category Product_Type           Products
0        1087         Clothing       Shorts     Cycling shorts
1        1165      Electronics       Tablet         Lenovo Tab
2        1271            Books   Children's   Sports equipment
3        1304       Home Decor        Tools      Utility knife
4        1059          Grocery    Chocolate  Chocolate cookies

In [38]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 302010 entries, 0 to 302009
Data columns (total 4 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Product_Id        302010 non-null  int64
 1   Product_Category  301727 non-null  object
 2   Product_Type      302010 non-null  object
 3   Products          302010 non-null  object
dtypes: int64(1), object(3)
memory usage: 9.2+ MB

In [39]:
# STEP 1 – Fix data types
df1['Customer_ID'] = df1['Customer_ID'].astype('Int64')
df2['Customer_ID'] = df2['Customer_ID'].astype('Int64')
df2['Product_Id'] = df2['Product_Id'].astype('Int64')
df3['Product_Id'] = df3['Product_Id'].astype('Int64')

# STEP 2 – Drop duplicates
df1 = df1.drop_duplicates(subset=['Customer_ID'])
df2 = df2.drop_duplicates(subset=['Transaction_ID'])
df3 = df3.drop_duplicates(subset=['Product_Id'])

# STEP 3 – Select needed columns from df3
df3_small = df3[['Product_Id', 'Product_Category', 'Product_Type', 'Products']]

# STEP 4 – JOIN (lighter than merge)
df1 = df1.set_index('Customer_ID')
df2 = df2.set_index('Customer_ID')

merged1 = df1.join(df2, how='left')

merged1 = merged1.reset_index().set_index('Product_Id')
df3_small = df3_small.set_index('Product_Id')

final_df = merged1.join(df3_small, how='left').reset_index()

df = final_df
df.head()

,Product_Id,Customer_ID,Name,Email,Phone,Address,City,State,Zipcode,Country,...,Total_Purchases,Amount,Feedback,Shipping_Method,Payment_Method,Order_Status,Ratings,Product_Category,Product_Type,Products
0,1087,37249,Michelle Harrington,Ebony39@gmail.com,1.414787e+09,3959 Amanda Burgs,Dortmund,Berlin,77985.0,Germany,...,3.0,108.028757,Excellent,Same-Day,Debit Card,Shipped,5.0,Clothing,Shorts,Cycling shorts
1,1267,37249,Michelle Harrington,Ebony39@gmail.com,1.414787e+09,3959 Amanda Burgs,Dortmund,Berlin,77985.0,Germany,...,7.0,75.873952,Good,Express,PayPal,Delivered,3.0,Electronics,Smartphone,Sony Xperia
2,1021,37249,Michelle Harrington,Ebony39@gmail.com,1.414787e+09,3959 Amanda Burgs,Dortmund,Berlin,77985.0,Germany,...,6.0,379.383720,Average,Express,PayPal,Delivered,2.0,Home Decor,Furniture,Bed
3,1221,37249,Michelle Harrington,Ebony39@gmail.com,1.414787e+09,3959 Amanda Burgs,Dortmund,Berlin,77985.0,Germany,...,4.0,148.637688,Excellent,Express,Cash,Shipped,5.0,Clothing,Shirt,Polo shirt
4,1119,37249,Michelle Harrington,Ebony39@gmail.com,1.414787e+09,3959 Amanda Burgs,Dortmund,Berlin,77985.0,Germany,...,8.0,344.916565,Average,Same-Day,PayPal,Shipped,2.0,Grocery,Water,Flavored water

In [40]:
df.shape

(294674, 26)

In [41]:
#3. Inspect data
#deskripsikan data numerik (count, mean, std, min, dll)
round(df.describe(),2)

,Product_Id,Customer_ID,Phone,Zipcode,Age,Transaction_ID,Total_Purchases,Amount,Ratings
count,294462.0,294378.0,2.942620e+05,294327.00,294642.00,294461.00,294108.00,294115.00,294282.00
mean,1159.44,54995.9,5.524180e+09,50209.20,26.86,5495320.14,5.36,255.24,3.16
std,89.62,26003.35,2.594223e+09,28896.18,11.01,2595470.40,2.87,141.42,1.32
min,1001.0,10000.0,1.000049e+09,504.00,18.00,1000007.00,1.00,10.00,1.00
25%,1085.0,32465.25,3.283767e+09,25472.00,20.00,3247359.00,3.00,132.89,2.00
50%,1160.0,54989.5,5.535268e+09,50405.00,22.00,5498926.00,5.00,255.53,3.00
75%,1237.0,77497.0,7.768154e+09,74830.50,32.00,7738273.00,8.00,377.80,4.00
max,1318.0,99999.0,9.999896e+09,99948.00,70.00,9999995.00,10.00,500.00,5.00

In [42]:
#3. Inspect data
#deskripsikan data kategori
df.describe(include='object')

,Name,Email,Address,City,State,Country,Gender,Income,Customer_Segment,Date,Feedback,Shipping_Method,Payment_Method,Order_Status,Product_Category,Product_Type,Products
count,294381,294359,294390,294479,294501,294466,294337,294495,294583,294111,294282,294132,294172,294230,294462,294462,294462
unique,63628,33225,86679,130,54,5,2,3,3,366,4,3,4,4,5,33,318
top,Kara Harris DDS,Yvette79@gmail.com,8226 David Lakes,Portsmouth,England,UK,Male,Medium,Regular,2023-11-22,Excellent,Same-Day,Credit Card,Delivered,Electronics,Water,Spring water
freq,296,296,296,69027,97181,97165,180096,158947,184330,887,98336,101567,87465,127892,69465,23967,2453

In [43]:
numerik = df.select_dtypes(include=['number']).columns.tolist()
kategorik = df.select_dtypes(exclude=['number']).columns.tolist()

df[numerik].head()

,Product_Id,Customer_ID,Phone,Zipcode,Age,Transaction_ID,Total_Purchases,Amount,Ratings
0,1087,37249,1.414787e+09,77985.0,21.0,8691788.0,3.0,108.028757,5.0
1,1267,37249,1.414787e+09,77985.0,21.0,2322638.0,7.0,75.873952,3.0
2,1021,37249,1.414787e+09,77985.0,21.0,1814136.0,6.0,379.383720,2.0
3,1221,37249,1.414787e+09,77985.0,21.0,4895457.0,4.0,148.637688,5.0
4,1119,37249,1.414787e+09,77985.0,21.0,5836653.0,8.0,344.916565,2.0

In [44]:
#4.Missing value
#melihat missing value
df.isna().sum()

Product_Id          212
Customer_ID         296
Name                293
Email               315
Phone               412
Address             284
City                195
State               173
Zipcode             347
Country             208
Age                  32
Gender              337
Income              179
Customer_Segment     91
Transaction_ID      213
Date                563
Total_Purchases     566
Amount              559
Feedback            392
Shipping_Method     542
Payment_Method      502
Order_Status        444
Ratings             392
Product_Category    212
Product_Type        212
Products            212
dtype: int64

In [45]:
df.isna().sum().sum()

np.int64(8183)

In [14]:
#4.Missing value
#menghapus missing value
#jalankan jika ada missing value, jika tidak, tidak lanjut ke tahap berikutnya
df = df.dropna()
df.shape

(289253, 26)

In [15]:
df.duplicated().sum()

np.int64(0)

In [16]:
df.drop_duplicates()

,Product_Id,Customer_ID,Name,Email,Phone,Address,City,State,Zipcode,Country,...,Total_Purchases,Amount,Feedback,Shipping_Method,Payment_Method,Order_Status,Ratings,Product_Category,Product_Type,Products
0,1087,37249,Michelle Harrington,Ebony39@gmail.com,1.414787e+09,3959 Amanda Burgs,Dortmund,Berlin,77985.0,Germany,...,3.0,108.028757,Excellent,Same-Day,Debit Card,Shipped,5.0,Clothing,Shorts,Cycling shorts
1,1267,37249,Michelle Harrington,Ebony39@gmail.com,1.414787e+09,3959 Amanda Burgs,Dortmund,Berlin,77985.0,Germany,...,7.0,75.873952,Good,Express,PayPal,Delivered,3.0,Electronics,Smartphone,Sony Xperia
2,1021,37249,Michelle Harrington,Ebony39@gmail.com,1.414787e+09,3959 Amanda Burgs,Dortmund,Berlin,77985.0,Germany,...,6.0,379.383720,Average,Express,PayPal,Delivered,2.0,Home Decor,Furniture,Bed
3,1221,37249,Michelle Harrington,Ebony39@gmail.com,1.414787e+09,3959 Amanda Burgs,Dortmund,Berlin,77985.0,Germany,...,4.0,148.637688,Excellent,Express,Cash,Shipped,5.0,Clothing,Shirt,Polo shirt
4,1119,37249,Michelle Harrington,Ebony39@gmail.com,1.414787e+09,3959 Amanda Burgs,Dortmund,Berlin,77985.0,Germany,...,8.0,344.916565,Average,Same-Day,PayPal,Shipped,2.0,Grocery,Water,Flavored water
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294669,1156,82768,Patricia Burch,Brian100@gmail.com,8.274071e+09,665 Patrick Plains,Denver,Georgia,31819.0,USA,...,8.0,79.486118,Excellent,Express,Credit Card,Pending,5.0,Electronics,Tablet,iPad
294670,1221,14485,Beth Mcknight,James17@gmail.com,1.433775e+09,409 Harvey Dale,Glasgow,England,33440.0,UK,...,1.0,299.549846,Bad,Express,Credit Card,Processing,1.0,Clothing,Shirt,Polo shirt
294671,1097,49840,John Yoder,Anne24@gmail.com,6.134998e+09,8400 Garrett Forks,Liverpool,England,40670.0,UK,...,10.0,108.052325,Good,Express,Credit Card,Delivered,4.0,Home Decor,Kitchen,Dishwasher
294672,1237,58286,Laura Warren,Alison77@gmail.com,1.739610e+09,443 Luna Wells,Sheffield,England,21523.0,UK,...,2.0,202.539738,Good,Express,Credit Card,Pending,4.0,Books,Fiction,Romance
294673,1261,29845,Austin Hernandez,John40@gmail.com,1.384901e+09,9154 Smith Mount Apt. 399,London,Ontario,86762.0,Canada,...,7.0,163.077657,Excellent,Same-Day,Credit Card,Processing,5.0,Clothing,Shoes,Slippers

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 289253 entries, 0 to 294673
Data columns (total 26 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Product_Id        289253 non-null  Int64
 1   Customer_ID       289253 non-null  Int64
 2   Name              289253 non-null  object
 3   Email             289253 non-null  object
 4   Phone             289253 non-null  float64
 5   Address           289253 non-null  object
 6   City              289253 non-null  object
 7   State             289253 non-null  object
 8   Zipcode           289253 non-null  float64
 9   Country           289253 non-null  object
 10  Age               289253 non-null  float64
 11  Gender            289253 non-null  object
 12  Income            289253 non-null  object
 13  Customer_Segment  289253 non-null  object
 14  Transaction_ID    289253 non-null  float64
 15  Date              289253 non-null  object
 16  Total_Purchases   289253 non-null  float64
 17  Amount            289253 non-null  float64
 18  Feedback          289253 non-null  object
 19  Shipping_Method   289253 non-null  object
 20  Payment_Method    289253 non-null  object
 21  Order_Status      289253 non-null  object
 22  Ratings           289253 non-null  float64
 23  Product_Category  289253 non-null  object
 24  Product_Type      289253 non-null  object
 25  Products          289253 non-null  object
dtypes: Int64(2), float64(7), object(17)
memory usage: 60.1+ MB

In [18]:
# Deteksi outlier dengan IQR
# Hitung Q1, Q3, dan IQR untuk kolom numerik
Q1 = df[numerik].quantile(0.25)
Q3 = df[numerik].quantile(0.75)
IQR = Q3 - Q1
#Tentukan batas bawah dan atas
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Deteksi outlier
df_outlier = df[((df[numerik] < lower_bound) | (df[numerik] > upper_bound)).any(axis=1)]
print("Jumlah baris outlier:", df_outlier.shape[0])

Jumlah baris outlier: 15231

In [19]:
df['Date'] = pd.to_datetime(df['Date'])

/var/folders/xl/rr6lsjbx7b3cmr113zmt0m4m0000gn/T/ipykernel_17415/2394721818.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Date'] = pd.to_datetime(df['Date'])

In [20]:
#Future engineering
df['Order_Year'] = df['Date'].dt.year
df['Order_Month'] = df['Date'].dt.month
df['Order_Day'] = df['Date'].dt.day
df['Order_Weekday'] = df['Date'].dt.weekday  # 0=Monday, 6=Sunday
df['Order_WeekOfYear'] = df['Date'].dt.isocalendar().week
df['Order_Quarter'] = df['Date'].dt.quarter

/var/folders/xl/rr6lsjbx7b3cmr113zmt0m4m0000gn/T/ipykernel_17415/2577615812.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Order_Year'] = df['Date'].dt.year
/var/folders/xl/rr6lsjbx7b3cmr113zmt0m4m0000gn/T/ipykernel_17415/2577615812.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Order_Month'] = df['Date'].dt.month
/var/folders/xl/rr6lsjbx7b3cmr113zmt0m4m0000gn/T/ipykernel_17415/2577615812.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Order_Day'] = df['Date'].dt.day
/var/folders/xl/rr6lsjbx7b3cmr113zmt0m4m0000gn/T/ipykernel_17415/2577615812.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Order_Weekday'] = df['Date'].dt.weekday  # 0=Monday, 6=Sunday
/var/folders/xl/rr6lsjbx7b3cmr113zmt0m4m0000gn/T/ipykernel_17415/2577615812.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Order_WeekOfYear'] = df['Date'].dt.isocalendar().week
/var/folders/xl/rr6lsjbx7b3cmr113zmt0m4m0000gn/T/ipykernel_17415/2577615812.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Order_Quarter'] = df['Date'].dt.quarter

In [21]:
print(df['Payment_Method'].value_counts())

Payment_Method
Credit Card    85996
Debit Card     74184
Cash           70033
PayPal         59040
Name: count, dtype: int64

In [22]:
df['Days_Since_First_Purchase'] = (df['Date'] - df.groupby('Customer_ID')['Date'].transform('min')).dt.days
df['Days_Since_Last_Purchase'] = (df.groupby('Customer_ID')['Date'].transform('max') - df['Date']).dt.days
df[['Days_Since_First_Purchase', 'Days_Since_Last_Purchase']].head()

/var/folders/xl/rr6lsjbx7b3cmr113zmt0m4m0000gn/T/ipykernel_17415/3173281051.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Days_Since_First_Purchase'] = (df['Date'] - df.groupby('Customer_ID')['Date'].transform('min')).dt.days
/var/folders/xl/rr6lsjbx7b3cmr113zmt0m4m0000gn/T/ipykernel_17415/3173281051.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Days_Since_Last_Purchase'] = (df.groupby('Customer_ID')['Date'].transform('max') - df['Date']).dt.days

   Days_Since_First_Purchase  Days_Since_Last_Purchase
0                         96                       141
1                          0                       237
2                        237                         0
3                        177                        60
4                        202                        35

In [23]:
df['Amount_Category'] = pd.qcut(df['Amount'], q=4,
                               labels=['Low_Spend', 'Medium_Spend', 'High_Spend', 'VIP_Spend'])
df[['Amount_Category','Amount']].head()

/var/folders/xl/rr6lsjbx7b3cmr113zmt0m4m0000gn/T/ipykernel_17415/3437148763.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Amount_Category'] = pd.qcut(df['Amount'], q=4,

  Amount_Category      Amount
0       Low_Spend  108.028757
1       Low_Spend   75.873952
2       VIP_Spend  379.383720
3    Medium_Spend  148.637688
4      High_Spend  344.916565

In [24]:
df.head()

,Product_Id,Customer_ID,Name,Email,Phone,Address,City,State,Zipcode,Country,...,Products,Order_Year,Order_Month,Order_Day,Order_Weekday,Order_WeekOfYear,Order_Quarter,Days_Since_First_Purchase,Days_Since_Last_Purchase,Amount_Category
0,1087,37249,Michelle Harrington,Ebony39@gmail.com,1.414787e+09,3959 Amanda Burgs,Dortmund,Berlin,77985.0,Germany,...,Cycling shorts,2023,9,18,0,38,3,96,141,Low_Spend
1,1267,37249,Michelle Harrington,Ebony39@gmail.com,1.414787e+09,3959 Amanda Burgs,Dortmund,Berlin,77985.0,Germany,...,Sony Xperia,2023,6,14,2,24,2,0,237,Low_Spend
2,1021,37249,Michelle Harrington,Ebony39@gmail.com,1.414787e+09,3959 Amanda Burgs,Dortmund,Berlin,77985.0,Germany,...,Bed,2024,2,6,1,6,1,237,0,VIP_Spend
3,1221,37249,Michelle Harrington,Ebony39@gmail.com,1.414787e+09,3959 Amanda Burgs,Dortmund,Berlin,77985.0,Germany,...,Polo shirt,2023,12,8,4,49,4,177,60,Medium_Spend
4,1119,37249,Michelle Harrington,Ebony39@gmail.com,1.414787e+09,3959 Amanda Burgs,Dortmund,Berlin,77985.0,Germany,...,Flavored water,2024,1,2,1,1,1,202,35,High_Spend

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 289253 entries, 0 to 294673
Data columns (total 35 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Product_Id                 289253 non-null  Int64
 1   Customer_ID                289253 non-null  Int64
 2   Name                       289253 non-null  object
 3   Email                      289253 non-null  object
 4   Phone                      289253 non-null  float64
 5   Address                    289253 non-null  object
 6   City                       289253 non-null  object
 7   State                      289253 non-null  object
 8   Zipcode                    289253 non-null  float64
 9   Country                    289253 non-null  object
 10  Age                        289253 non-null  float64
 11  Gender                     289253 non-null  object
 12  Income                     289253 non-null  object
 13  Customer_Segment           289253 non-null  object
 14  Transaction_ID             289253 non-null  float64
 15  Date                       289253 non-null  datetime64[ns]
 16  Total_Purchases            289253 non-null  float64
 17  Amount                     289253 non-null  float64
 18  Feedback                   289253 non-null  object
 19  Shipping_Method            289253 non-null  object
 20  Payment_Method             289253 non-null  object
 21  Order_Status               289253 non-null  object
 22  Ratings                    289253 non-null  float64
 23  Product_Category           289253 non-null  object
 24  Product_Type               289253 non-null  object
 25  Products                   289253 non-null  object
 26  Order_Year                 289253 non-null  int32
 27  Order_Month                289253 non-null  int32
 28  Order_Day                  289253 non-null  int32
 29  Order_Weekday              289253 non-null  int32
 30  Order_WeekOfYear           289253 non-null  UInt32
 31  Order_Quarter              289253 non-null  int32
 32  Days_Since_First_Purchase  289253 non-null  int64
 33  Days_Since_Last_Purchase   289253 non-null  int64
 34  Amount_Category            289253 non-null  category
dtypes: Int64(2), UInt32(1), category(1), datetime64[ns](1), float64(7), int32(5), int64(2), object(16)
memory usage: 71.7+ MB

In [26]:
df.to_csv('C:/download/data_finalproject', index=False)

In [27]:
import os

# Create the directory if it doesn't exist
os.makedirs('C:/download', exist_ok=True)

# Now save the file
df.to_csv('C:/download/data_finalproject.csv', index=False)

In [28]:
# 1. Load data awal
df = pd.read_excel('dataset/online_retail_cleaned_dataset 2.xlsx')

# 2. Cleaning process
df_cleaned = df.dropna()  # contoh cleaning
df_cleaned = df_cleaned.drop_duplicates()

# 3. Simpan data cleaned
df_cleaned.to_csv('data_finalproject.csv', index=False)

print("Data berhasil disimpan!")
print(f"Shape data cleaned: {df_cleaned.shape}")

Data berhasil disimpan!
Shape data cleaned: (0, 15)

In [29]:
import pandas as pd  # Added import statement for pandas
import os  # Added to check file existence

# 1. Check if file exists before loading
file_path = 'data_finalproject.csv'
if os.path.exists(file_path):
    # Load data awal
    df = pd.read_csv(file_path)
    
    # 2. Cleaning process
    df_cleaned = df.dropna()  # contoh cleaning
    df_cleaned = df_cleaned.drop_duplicates()
    
    # 3. Simpan data cleaned
    df_cleaned.to_csv('data_finalproject_cleaned.csv', index=False)  # Changed output filename to avoid overwriting original
    
    print("Data berhasil disimpan!")
    print(f"Shape data cleaned: {df_cleaned.shape}")
else:
    print(f"Error: File '{file_path}' tidak ditemukan.")
    print("Pastikan file berada di direktori yang benar atau periksa nama file.")

Data berhasil disimpan!
Shape data cleaned: (0, 15)

Tujuan Feature Engineering
1. Mengubah data numerik Amount menjadi kategori (Low, Medium, High, VIP) agar mudah dipahami bisnis (segmentasi pelanggan), model lebih stabil (mengurangi sensitivitas outlier), analisis segmentasi (pelanggan VIP vs Low Spender).
2. Mengukur loyalitas dan aktivitas pelanggan yaitu untuk prediksi retensi pelanggan
3. Mengekstrak pola temporal dari transaksi yaitu tren bulanan/tahunan (misal: belanja naik di Desember), hari kerja vs weekend, untuk analisis performa per kuartal