# Sesi 1

## 1. Data Preparation

In [31]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [32]:
df = pd.read_csv('dataset/3. Loan Approval.csv')
df.head()

,person_age,person_gender,person_education,person_income,person_emp_exp,person_home_ownership,loan_amnt,loan_intent,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,previous_loan_defaults_on_file,loan_status
0,22.0,female,Master,71948.0,0,RENT,35000.0,PERSONAL,16.02,0.49,3.0,561,No,1
1,21.0,female,High School,12282.0,0,OWN,1000.0,EDUCATION,11.14,0.08,2.0,504,Yes,0
2,25.0,female,High School,12438.0,3,MORTGAGE,5500.0,MEDICAL,12.87,0.44,3.0,635,No,1
3,23.0,female,Bachelor,79753.0,0,RENT,35000.0,MEDICAL,15.23,0.44,2.0,675,No,1
4,24.0,male,Master,66135.0,1,RENT,35000.0,MEDICAL,14.27,0.53,4.0,586,No,1

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45000 entries, 0 to 44999
Data columns (total 14 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   person_age                      45000 non-null  float64
 1   person_gender                   45000 non-null  object
 2   person_education                45000 non-null  object
 3   person_income                   45000 non-null  float64
 4   person_emp_exp                  45000 non-null  int64
 5   person_home_ownership           45000 non-null  object
 6   loan_amnt                       45000 non-null  float64
 7   loan_intent                     45000 non-null  object
 8   loan_int_rate                   45000 non-null  float64
 9   loan_percent_income             45000 non-null  float64
 10  cb_person_cred_hist_length      45000 non-null  float64
 11  credit_score                    45000 non-null  int64
 12  previous_loan_defaults_on_file  45000 non-null  object
 13  loan_status                     45000 non-null  int64
dtypes: float64(6), int64(3), object(5)
memory usage: 4.8+ MB

In [34]:
numbers = df.select_dtypes(include=['number']).drop(columns=['loan_status']).columns
categories = df.select_dtypes(exclude = ['number']).columns

In [35]:
round(df.describe(),2)

,person_age,person_income,person_emp_exp,loan_amnt,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,loan_status
count,45000.00,45000.00,45000.00,45000.00,45000.00,45000.00,45000.00,45000.00,45000.00
mean,27.76,80319.05,5.41,9583.16,11.01,0.14,5.87,632.61,0.22
std,6.05,80422.50,6.06,6314.89,2.98,0.09,3.88,50.44,0.42
min,20.00,8000.00,0.00,500.00,5.42,0.00,2.00,390.00,0.00
25%,24.00,47204.00,1.00,5000.00,8.59,0.07,3.00,601.00,0.00
50%,26.00,67048.00,4.00,8000.00,11.01,0.12,4.00,640.00,0.00
75%,30.00,95789.25,8.00,12237.25,12.99,0.19,8.00,670.00,0.00
max,144.00,7200766.00,125.00,35000.00,20.00,0.66,30.00,850.00,1.00

In [36]:
df[categories].describe(include='all')

,person_gender,person_education,person_home_ownership,loan_intent,previous_loan_defaults_on_file
count,45000,45000,45000,45000,45000
unique,2,5,4,6,2
top,male,Bachelor,RENT,EDUCATION,Yes
freq,24841,13399,23443,9153,22858

In [37]:
numbers

Index(['person_age', 'person_income', 'person_emp_exp', 'loan_amnt',
       'loan_int_rate', 'loan_percent_income', 'cb_person_cred_hist_length',
       'credit_score'],
      dtype='object')

In [38]:
categories

Index(['person_gender', 'person_education', 'person_home_ownership',
       'loan_intent', 'previous_loan_defaults_on_file'],
      dtype='object')

In [39]:
df.duplicated().sum()

np.int64(0)

In [40]:
df.isna().sum()

person_age                        0
person_gender                     0
person_education                  0
person_income                     0
person_emp_exp                    0
person_home_ownership             0
loan_amnt                         0
loan_intent                       0
loan_int_rate                     0
loan_percent_income               0
cb_person_cred_hist_length        0
credit_score                      0
previous_loan_defaults_on_file    0
loan_status                       0
dtype: int64

### Feature Engineering

In [41]:
#1. Age Category (Kategori Usia)
df['age_category'] = df['person_age'].apply(
    lambda age: "1. Children" if age <= 18 else
                "2. Young Adult" if age <= 35 else
                "3. Adult" if age <= 55 else
                "4. Senior" if age <= 75 else
                "5. Elderly"
)

In [42]:
df['age_category'].value_counts()

age_category
2. Young Adult    40514
3. Adult           4329
4. Senior           145
5. Elderly           12
Name: count, dtype: int64

In [43]:
#2. Mengukur seberapa besar beban pinjaman terhadap pendapatan.
df['loan_income_ratio'] = df['loan_amnt'] / df['person_income']

In [44]:
#3. Credit Score Category
df['credit_score_cat'] = pd.cut(
    df['credit_score'],
    bins=[300, 580, 670, 740, 800, 900],
    labels=['Poor', 'Fair', 'Good', 'Very Good', 'Excellent']
)

In [45]:
df['credit_score_cat'].value_counts()

credit_score_cat
Fair         26992
Good         10846
Poor          7074
Very Good       85
Excellent        3
Name: count, dtype: int64

In [46]:
#4. Konversi Kolom Target dari Kategorik menjadi Numerik(encoded)
df['previous_loan_defaults_on_file'] = df['previous_loan_defaults_on_file'].replace({'Yes': 1, 'No': 0})

#Membaca ulang kolom kategorikMengukur seberapa besar beban pinjaman terhadap pendapatan.
categories = df.select_dtypes(exclude = ['number']).columns

In [47]:
#5. Income Category
df['income_range'] = pd.cut(
    df['person_income'],
    bins=[0, 30000, 60000, 100000, 150000, df['person_income'].max()],
    labels=[
        'Low Income',
        'Lower-Middle Income',
        'Middle Income',
        'Upper-Middle Income',
        'High Income'
    ]
)

In [48]:
df['income_range'].value_counts()

income_range
Middle Income          16690
Lower-Middle Income    15383
Upper-Middle Income     6871
High Income             3153
Low Income              2903
Name: count, dtype: int64

In [49]:
categories

Index(['person_gender', 'person_education', 'person_home_ownership',
       'loan_intent', 'age_category', 'credit_score_cat'],
      dtype='object')

In [50]:
numbers = df.select_dtypes(include=['number']).drop(columns=['loan_status']).columns

In [51]:
numbers

Index(['person_age', 'person_income', 'person_emp_exp', 'loan_amnt',
       'loan_int_rate', 'loan_percent_income', 'cb_person_cred_hist_length',
       'credit_score', 'previous_loan_defaults_on_file', 'loan_income_ratio'],
      dtype='object')

In [52]:
df_select = df.copy()
df_select.head()

,person_age,person_gender,person_education,person_income,person_emp_exp,person_home_ownership,loan_amnt,loan_intent,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,previous_loan_defaults_on_file,loan_status,age_category,loan_income_ratio,credit_score_cat,income_range
0,22.0,female,Master,71948.0,0,RENT,35000.0,PERSONAL,16.02,0.49,3.0,561,0,1,2. Young Adult,0.486462,Poor,Middle Income
1,21.0,female,High School,12282.0,0,OWN,1000.0,EDUCATION,11.14,0.08,2.0,504,1,0,2. Young Adult,0.081420,Poor,Low Income
2,25.0,female,High School,12438.0,3,MORTGAGE,5500.0,MEDICAL,12.87,0.44,3.0,635,0,1,2. Young Adult,0.442193,Fair,Low Income
3,23.0,female,Bachelor,79753.0,0,RENT,35000.0,MEDICAL,15.23,0.44,2.0,675,0,1,2. Young Adult,0.438855,Good,Middle Income
4,24.0,male,Master,66135.0,1,RENT,35000.0,MEDICAL,14.27,0.53,4.0,586,0,1,2. Young Adult,0.529221,Fair,Middle Income

In [53]:
df.to_excel('Loan Approval.xlsx', index=False)