## Data Preprocessing

In [1]:
#1. import library
import pandas as pd
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('dataset/people analytics.csv')
df.head() #head untuk 5 baris teratas

,Employee_ID,Department,Gender,Age,Job_Title,Hire_Date,Years_At_Company,Education_Level,Performance_Score,Monthly_Salary,Work_Hours_Per_Week,Projects_Handled,Overtime_Hours,Sick_Days,Remote_Work_Frequency,Team_Size,Training_Hours,Promotions,Employee_Satisfaction_Score,Resigned
0,1,IT,Male,55,Specialist,2022-01-19 08:03:05.556036,2,High School,5,6750.0,33,32,22,2,0,14,66,0,2.63,False
1,2,Finance,Male,29,Developer,2024-04-18 08:03:05.556036,0,High School,5,7500.0,34,34,13,14,100,12,61,2,1.72,False
2,3,Finance,Male,55,Specialist,2015-10-26 08:03:05.556036,8,High School,3,5850.0,37,27,6,3,50,10,1,0,3.17,False
3,4,Customer Support,Female,48,Analyst,2016-10-22 08:03:05.556036,7,Bachelor,2,4800.0,52,10,28,12,100,10,0,1,1.86,False
4,5,Engineering,Female,36,Analyst,2021-07-23 08:03:05.556036,3,Bachelor,2,4800.0,38,11,29,13,100,15,9,1,1.25,False

In [3]:
#3. Inspect data
#deskripsikan data numerik (count, mean, std, min, dll)
df.describe()

,Employee_ID,Age,Years_At_Company,Performance_Score,Monthly_Salary,Work_Hours_Per_Week,Projects_Handled,Overtime_Hours,Sick_Days,Remote_Work_Frequency,Team_Size,Training_Hours,Promotions,Employee_Satisfaction_Score
count,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000
mean,50000.500000,41.029410,4.476070,2.995430,6403.211000,44.956950,24.431170,14.514930,7.008550,50.090500,10.013560,49.506060,0.999720,2.999088
std,28867.657797,11.244121,2.869336,1.414726,1372.508717,8.942003,14.469584,8.664026,4.331591,35.351157,5.495405,28.890383,0.815872,1.150719
min,1.000000,22.000000,0.000000,1.000000,3850.000000,30.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000
25%,25000.750000,31.000000,2.000000,2.000000,5250.000000,37.000000,12.000000,7.000000,3.000000,25.000000,5.000000,25.000000,0.000000,2.010000
50%,50000.500000,41.000000,4.000000,3.000000,6500.000000,45.000000,24.000000,15.000000,7.000000,50.000000,10.000000,49.000000,1.000000,3.000000
75%,75000.250000,51.000000,7.000000,4.000000,7500.000000,53.000000,37.000000,22.000000,11.000000,75.000000,15.000000,75.000000,2.000000,3.990000
max,100000.000000,60.000000,10.000000,5.000000,9000.000000,60.000000,49.000000,29.000000,14.000000,100.000000,19.000000,99.000000,2.000000,5.000000

In [4]:
#3. Inspect data
#deskripsikan data kategori
df.describe(include='object')

,Department,Gender,Job_Title,Hire_Date,Education_Level
count,100000,100000,100000,100000,100000
unique,9,3,7,3650,4
top,Marketing,Male,Specialist,2020-09-29 08:03:05.556036,Bachelor
freq,11216,48031,14507,46,50041

In [5]:
numerik = df.select_dtypes(include=['number']).columns.tolist()
kategorik = df.select_dtypes(exclude=['number']).columns.tolist()

df[numerik].head()

,Employee_ID,Age,Years_At_Company,Performance_Score,Monthly_Salary,Work_Hours_Per_Week,Projects_Handled,Overtime_Hours,Sick_Days,Remote_Work_Frequency,Team_Size,Training_Hours,Promotions,Employee_Satisfaction_Score
0,1,55,2,5,6750.0,33,32,22,2,0,14,66,0,2.63
1,2,29,0,5,7500.0,34,34,13,14,100,12,61,2,1.72
2,3,55,8,3,5850.0,37,27,6,3,50,10,1,0,3.17
3,4,48,7,2,4800.0,52,10,28,12,100,10,0,1,1.86
4,5,36,3,2,4800.0,38,11,29,13,100,15,9,1,1.25

In [6]:
#4.Missing value
#melihat missing value
df.isna().sum()

Employee_ID                    0
Department                     0
Gender                         0
Age                            0
Job_Title                      0
Hire_Date                      0
Years_At_Company               0
Education_Level                0
Performance_Score              0
Monthly_Salary                 0
Work_Hours_Per_Week            0
Projects_Handled               0
Overtime_Hours                 0
Sick_Days                      0
Remote_Work_Frequency          0
Team_Size                      0
Training_Hours                 0
Promotions                     0
Employee_Satisfaction_Score    0
Resigned                       0
dtype: int64

In [7]:
#4.Missing value
#menghapus missing value
#jalankan jika ada missing value, jika tidak, tidak lanjut ke tahap berikutnya
df = df.dropna()
df.shape

(100000, 20)

In [8]:
df['Hire_Date'] = pd.to_datetime(df['Hire_Date'])

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 20 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Employee_ID                  100000 non-null  int64
 1   Department                   100000 non-null  object
 2   Gender                       100000 non-null  object
 3   Age                          100000 non-null  int64
 4   Job_Title                    100000 non-null  object
 5   Hire_Date                    100000 non-null  datetime64[ns]
 6   Years_At_Company             100000 non-null  int64
 7   Education_Level              100000 non-null  object
 8   Performance_Score            100000 non-null  int64
 9   Monthly_Salary               100000 non-null  float64
 10  Work_Hours_Per_Week          100000 non-null  int64
 11  Projects_Handled             100000 non-null  int64
 12  Overtime_Hours               100000 non-null  int64
 13  Sick_Days                    100000 non-null  int64
 14  Remote_Work_Frequency        100000 non-null  int64
 15  Team_Size                    100000 non-null  int64
 16  Training_Hours               100000 non-null  int64
 17  Promotions                   100000 non-null  int64
 18  Employee_Satisfaction_Score  100000 non-null  float64
 19  Resigned                     100000 non-null  bool
dtypes: bool(1), datetime64[ns](1), float64(2), int64(12), object(4)
memory usage: 14.6+ MB

In [10]:
#Konversi data
df['year']=df['Hire_Date'].dt.year
df['month']=df['Hire_Date'].dt.month
df['day']=df['Hire_Date'].dt.day
df['day_of_week']=df['Hire_Date'].dt.day_name()

In [11]:
df

,Employee_ID,Department,Gender,Age,Job_Title,Hire_Date,Years_At_Company,Education_Level,Performance_Score,Monthly_Salary,...,Remote_Work_Frequency,Team_Size,Training_Hours,Promotions,Employee_Satisfaction_Score,Resigned,year,month,day,day_of_week
0,1,IT,Male,55,Specialist,2022-01-19 08:03:05.556036,2,High School,5,6750.0,...,0,14,66,0,2.63,False,2022,1,19,Wednesday
1,2,Finance,Male,29,Developer,2024-04-18 08:03:05.556036,0,High School,5,7500.0,...,100,12,61,2,1.72,False,2024,4,18,Thursday
2,3,Finance,Male,55,Specialist,2015-10-26 08:03:05.556036,8,High School,3,5850.0,...,50,10,1,0,3.17,False,2015,10,26,Monday
3,4,Customer Support,Female,48,Analyst,2016-10-22 08:03:05.556036,7,Bachelor,2,4800.0,...,100,10,0,1,1.86,False,2016,10,22,Saturday
4,5,Engineering,Female,36,Analyst,2021-07-23 08:03:05.556036,3,Bachelor,2,4800.0,...,100,15,9,1,1.25,False,2021,7,23,Friday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99996,Finance,Male,27,Technician,2022-12-07 08:03:05.556036,1,Bachelor,4,4900.0,...,75,16,48,2,1.28,False,2022,12,7,Wednesday
99996,99997,IT,Female,36,Consultant,2018-07-24 08:03:05.556036,6,Master,5,8250.0,...,0,10,77,1,3.48,True,2018,7,24,Tuesday
99997,99998,Operations,Male,53,Analyst,2015-11-24 08:03:05.556036,8,High School,2,4800.0,...,0,5,87,1,2.60,False,2015,11,24,Tuesday
99998,99999,HR,Female,22,Consultant,2015-08-03 08:03:05.556036,9,High School,5,8250.0,...,75,2,31,1,3.10,False,2015,8,3,Monday
99999,100000,Finance,Female,43,Analyst,2024-03-04 08:03:05.556036,0,PhD,1,4400.0,...,75,13,45,1,2.64,False,2024,3,4,Monday

In [12]:
# Deteksi outlier dengan IQR
#Tidak Dihapus
# Hitung Q1, Q3, dan IQR untuk kolom numerik
Q1 = df[numerik].quantile(0.25)
Q3 = df[numerik].quantile(0.75)
IQR = Q3 - Q1
#Tentukan batas bawah dan atas
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

df_outlier = df[((df[numerik] < lower_bound) | (df[numerik] > upper_bound)).any(axis=1)]

print('Data outlier: ', df_outlier.shape[0], 'baris')

Data outlier:  0 baris

In [13]:
#Future engineering
df['Performance Category'] = [
    'Excellent' if n >= 5
    else 'Good' if n >= 3
    else 'Average' if n >= 2
    else 'Poor'
    for n in df['Performance_Score']
]
df[['Performance_Score', 'Performance Category']].head()

   Performance_Score Performance Category
0                  5            Excellent
1                  5            Excellent
2                  3                 Good
3                  2              Average
4                  2              Average

In [14]:
print(df['Performance Category'].value_counts())

Performance Category
Good         39939
Poor         20120
Average      20013
Excellent    19928
Name: count, dtype: int64

In [15]:
df['Age_Group'] = pd.cut(
    df['Age'],
    bins=[18, 30, 40, 50, 100],
    labels=['Young', 'Adult', 'Senior', 'Old']
)
df

,Employee_ID,Department,Gender,Age,Job_Title,Hire_Date,Years_At_Company,Education_Level,Performance_Score,Monthly_Salary,...,Training_Hours,Promotions,Employee_Satisfaction_Score,Resigned,year,month,day,day_of_week,Performance Category,Age_Group
0,1,IT,Male,55,Specialist,2022-01-19 08:03:05.556036,2,High School,5,6750.0,...,66,0,2.63,False,2022,1,19,Wednesday,Excellent,Old
1,2,Finance,Male,29,Developer,2024-04-18 08:03:05.556036,0,High School,5,7500.0,...,61,2,1.72,False,2024,4,18,Thursday,Excellent,Young
2,3,Finance,Male,55,Specialist,2015-10-26 08:03:05.556036,8,High School,3,5850.0,...,1,0,3.17,False,2015,10,26,Monday,Good,Old
3,4,Customer Support,Female,48,Analyst,2016-10-22 08:03:05.556036,7,Bachelor,2,4800.0,...,0,1,1.86,False,2016,10,22,Saturday,Average,Senior
4,5,Engineering,Female,36,Analyst,2021-07-23 08:03:05.556036,3,Bachelor,2,4800.0,...,9,1,1.25,False,2021,7,23,Friday,Average,Adult
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99996,Finance,Male,27,Technician,2022-12-07 08:03:05.556036,1,Bachelor,4,4900.0,...,48,2,1.28,False,2022,12,7,Wednesday,Good,Young
99996,99997,IT,Female,36,Consultant,2018-07-24 08:03:05.556036,6,Master,5,8250.0,...,77,1,3.48,True,2018,7,24,Tuesday,Excellent,Adult
99997,99998,Operations,Male,53,Analyst,2015-11-24 08:03:05.556036,8,High School,2,4800.0,...,87,1,2.60,False,2015,11,24,Tuesday,Average,Old
99998,99999,HR,Female,22,Consultant,2015-08-03 08:03:05.556036,9,High School,5,8250.0,...,31,1,3.10,False,2015,8,3,Monday,Excellent,Young
99999,100000,Finance,Female,43,Analyst,2024-03-04 08:03:05.556036,0,PhD,1,4400.0,...,45,1,2.64,False,2024,3,4,Monday,Poor,Senior

In [16]:
df['Work_Intensity'] = df['Work_Hours_Per_Week'] * df['Projects_Handled']
df

,Employee_ID,Department,Gender,Age,Job_Title,Hire_Date,Years_At_Company,Education_Level,Performance_Score,Monthly_Salary,...,Promotions,Employee_Satisfaction_Score,Resigned,year,month,day,day_of_week,Performance Category,Age_Group,Work_Intensity
0,1,IT,Male,55,Specialist,2022-01-19 08:03:05.556036,2,High School,5,6750.0,...,0,2.63,False,2022,1,19,Wednesday,Excellent,Old,1056
1,2,Finance,Male,29,Developer,2024-04-18 08:03:05.556036,0,High School,5,7500.0,...,2,1.72,False,2024,4,18,Thursday,Excellent,Young,1156
2,3,Finance,Male,55,Specialist,2015-10-26 08:03:05.556036,8,High School,3,5850.0,...,0,3.17,False,2015,10,26,Monday,Good,Old,999
3,4,Customer Support,Female,48,Analyst,2016-10-22 08:03:05.556036,7,Bachelor,2,4800.0,...,1,1.86,False,2016,10,22,Saturday,Average,Senior,520
4,5,Engineering,Female,36,Analyst,2021-07-23 08:03:05.556036,3,Bachelor,2,4800.0,...,1,1.25,False,2021,7,23,Friday,Average,Adult,418
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99996,Finance,Male,27,Technician,2022-12-07 08:03:05.556036,1,Bachelor,4,4900.0,...,2,1.28,False,2022,12,7,Wednesday,Good,Young,2530
99996,99997,IT,Female,36,Consultant,2018-07-24 08:03:05.556036,6,Master,5,8250.0,...,1,3.48,True,2018,7,24,Tuesday,Excellent,Adult,1365
99997,99998,Operations,Male,53,Analyst,2015-11-24 08:03:05.556036,8,High School,2,4800.0,...,1,2.60,False,2015,11,24,Tuesday,Average,Old,403
99998,99999,HR,Female,22,Consultant,2015-08-03 08:03:05.556036,9,High School,5,8250.0,...,1,3.10,False,2015,8,3,Monday,Excellent,Young,1505
99999,100000,Finance,Female,43,Analyst,2024-03-04 08:03:05.556036,0,PhD,1,4400.0,...,1,2.64,False,2024,3,4,Monday,Poor,Senior,2193

In [17]:
df['Remote_Work_Category'] = pd.cut(
    df['Remote_Work_Frequency'],
    bins=[-1, 5, 15, 100],     # batas lebih fleksibel
    labels=['Rarely', 'Often', 'Fully Remote'],
    include_lowest=True
)
df.head()

,Employee_ID,Department,Gender,Age,Job_Title,Hire_Date,Years_At_Company,Education_Level,Performance_Score,Monthly_Salary,...,Employee_Satisfaction_Score,Resigned,year,month,day,day_of_week,Performance Category,Age_Group,Work_Intensity,Remote_Work_Category
0,1,IT,Male,55,Specialist,2022-01-19 08:03:05.556036,2,High School,5,6750.0,...,2.63,False,2022,1,19,Wednesday,Excellent,Old,1056,Rarely
1,2,Finance,Male,29,Developer,2024-04-18 08:03:05.556036,0,High School,5,7500.0,...,1.72,False,2024,4,18,Thursday,Excellent,Young,1156,Fully Remote
2,3,Finance,Male,55,Specialist,2015-10-26 08:03:05.556036,8,High School,3,5850.0,...,3.17,False,2015,10,26,Monday,Good,Old,999,Fully Remote
3,4,Customer Support,Female,48,Analyst,2016-10-22 08:03:05.556036,7,Bachelor,2,4800.0,...,1.86,False,2016,10,22,Saturday,Average,Senior,520,Fully Remote
4,5,Engineering,Female,36,Analyst,2021-07-23 08:03:05.556036,3,Bachelor,2,4800.0,...,1.25,False,2021,7,23,Friday,Average,Adult,418,Fully Remote

In [18]:
df['Resign_Flag'] = df['Resigned'].astype(int)
df

,Employee_ID,Department,Gender,Age,Job_Title,Hire_Date,Years_At_Company,Education_Level,Performance_Score,Monthly_Salary,...,Resigned,year,month,day,day_of_week,Performance Category,Age_Group,Work_Intensity,Remote_Work_Category,Resign_Flag
0,1,IT,Male,55,Specialist,2022-01-19 08:03:05.556036,2,High School,5,6750.0,...,False,2022,1,19,Wednesday,Excellent,Old,1056,Rarely,0
1,2,Finance,Male,29,Developer,2024-04-18 08:03:05.556036,0,High School,5,7500.0,...,False,2024,4,18,Thursday,Excellent,Young,1156,Fully Remote,0
2,3,Finance,Male,55,Specialist,2015-10-26 08:03:05.556036,8,High School,3,5850.0,...,False,2015,10,26,Monday,Good,Old,999,Fully Remote,0
3,4,Customer Support,Female,48,Analyst,2016-10-22 08:03:05.556036,7,Bachelor,2,4800.0,...,False,2016,10,22,Saturday,Average,Senior,520,Fully Remote,0
4,5,Engineering,Female,36,Analyst,2021-07-23 08:03:05.556036,3,Bachelor,2,4800.0,...,False,2021,7,23,Friday,Average,Adult,418,Fully Remote,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99996,Finance,Male,27,Technician,2022-12-07 08:03:05.556036,1,Bachelor,4,4900.0,...,False,2022,12,7,Wednesday,Good,Young,2530,Fully Remote,0
99996,99997,IT,Female,36,Consultant,2018-07-24 08:03:05.556036,6,Master,5,8250.0,...,True,2018,7,24,Tuesday,Excellent,Adult,1365,Rarely,1
99997,99998,Operations,Male,53,Analyst,2015-11-24 08:03:05.556036,8,High School,2,4800.0,...,False,2015,11,24,Tuesday,Average,Old,403,Rarely,0
99998,99999,HR,Female,22,Consultant,2015-08-03 08:03:05.556036,9,High School,5,8250.0,...,False,2015,8,3,Monday,Excellent,Young,1505,Fully Remote,0
99999,100000,Finance,Female,43,Analyst,2024-03-04 08:03:05.556036,0,PhD,1,4400.0,...,False,2024,3,4,Monday,Poor,Senior,2193,Fully Remote,0

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 29 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Employee_ID                  100000 non-null  int64
 1   Department                   100000 non-null  object
 2   Gender                       100000 non-null  object
 3   Age                          100000 non-null  int64
 4   Job_Title                    100000 non-null  object
 5   Hire_Date                    100000 non-null  datetime64[ns]
 6   Years_At_Company             100000 non-null  int64
 7   Education_Level              100000 non-null  object
 8   Performance_Score            100000 non-null  int64
 9   Monthly_Salary               100000 non-null  float64
 10  Work_Hours_Per_Week          100000 non-null  int64
 11  Projects_Handled             100000 non-null  int64
 12  Overtime_Hours               100000 non-null  int64
 13  Sick_Days                    100000 non-null  int64
 14  Remote_Work_Frequency        100000 non-null  int64
 15  Team_Size                    100000 non-null  int64
 16  Training_Hours               100000 non-null  int64
 17  Promotions                   100000 non-null  int64
 18  Employee_Satisfaction_Score  100000 non-null  float64
 19  Resigned                     100000 non-null  bool
 20  year                         100000 non-null  int32
 21  month                        100000 non-null  int32
 22  day                          100000 non-null  int32
 23  day_of_week                  100000 non-null  object
 24  Performance Category         100000 non-null  object
 25  Age_Group                    100000 non-null  category
 26  Work_Intensity               100000 non-null  int64
 27  Remote_Work_Category         100000 non-null  category
 28  Resign_Flag                  100000 non-null  int64
dtypes: bool(1), category(2), datetime64[ns](1), float64(2), int32(3), int64(14), object(6)
memory usage: 19.0+ MB

In [20]:
df.to_csv('data_miniproject4.csv', index=False)

In [21]:
df.to_csv('C:/download/data_miniproject4.csv', index=False)

In [22]:
import os

# Create the directory if it doesn't exist
os.makedirs('C:/download', exist_ok=True)

# Now save the file
df.to_csv('C:/download/data_miniproject4.csv', index=False)

In [23]:
# 1. Load data awal
df = pd.read_csv('data_miniproject4.csv')

# 2. Cleaning process
df_cleaned = df.dropna()  # contoh cleaning
df_cleaned = df_cleaned.drop_duplicates()

# 3. Simpan data cleaned
df_cleaned.to_csv('data_miniproject4.sv', index=False)

print("Data berhasil disimpan!")
print(f"Shape data cleaned: {df_cleaned.shape}")

Data berhasil disimpan!
Shape data cleaned: (100000, 29)